#first{
    background-color: rgb(220, 185, 146);
    margin-top:0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
    color:rgba(194, 84, 53, 0.742);
    font-family:"DFKai-sb";
}

.whitefont{
    text-align:center;
    color:wheat;
    font-family:"DFKai-sb";
}
.container{
    position: absolute;
    top: 200px;
    left:40px;
    display:flex;
    flex-direction: row;
}
.card{
    margin-left: -20px;
    margin-right: 50px;
}
.top-title{
    
    color: rgb(156, 224, 104);
    position: absolute;
    top: 120px;
    left :40px;
    width:100%;
    font-family:"DFKai-sb";
    font-size:30px;
    box-sizing: border-box;
}
.second-title{
    
    color: rgb(156, 224, 104);
    position: absolute;
    top: 415px;
    left :0px;
    width:100%;
    font-family:"DFKai-sb";
    font-size:30px;
    box-sizing: border-box;
}
.third-title{
    
    color: rgb(156, 224, 104);
    position: absolute;
    top: 430px;
    left :0px;
    width:100%;
    font-family:"DFKai-sb";
    font-size:30px;
    box-sizing: border-box;
}
.back{

    background-color: darkseagreen;
    color:darkgreen;
    position:absolute;
    bottom:30px;
    margin-left: 50px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
}
.all{
    background-color: bisque;
}
.timeline{
    position: absolute;
    left: 10px;
    top: 700px;
    
}