#first{
    background-color: rgb(220, 185, 146);
    margin-top:0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
    color:rgba(194, 84, 53, 0.742);
}

.whitefont{
    text-align:center;
    color:wheat;
    
}
.container{
    position: absolute;
    top: 200px;
    left:40px;
    display:flex;
    flex-direction: row;
}
.card{
    margin-left: -20px;
    margin-right: 50px;
}
.top-title{
    
    color: rgb(156, 224, 104);
    position: absolute;
    top: 120px;
    left :40px;
    width:100%;
    
    font-size:30px;
    box-sizing: border-box;
}
.second-title{
    
    color: rgb(156, 224, 104);
    position: absolute;
    top: 415px;
    left :0px;
    width:100%;
    
    font-size:30px;
    box-sizing: border-box;
}
.third-title{
    
    color: rgb(156, 224, 104);
    position: absolute;
    top: 430px;
    left :0px;
    width:100%;

    font-size:30px;
    box-sizing: border-box;
}
.back{

    background-color: rgb(251, 243, 213);
    color:rgb(156, 175, 170);
    position:absolute;
    bottom:5vh;
    left:5vh;
    border: none;
    padding: 2.5vh 4vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    border-radius: 10%;
}
.all{
    background-color: bisque;
}
.timeline{
    position: absolute;
    left: 10px;
    top: 700px;
    
}